@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;

}

/* Responsivitas untuk Container Gambar Banner */
.container-fluid-hubungi {
    height: 600px;
    background-image: url("../img/studytour.png ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.bg-overlay {
    width: 100%;
    background: linear-gradient(93deg, rgb(70, 7, 78) 0%, rgba(70, 7, 78, 0.5) 15%, rgba(70, 7, 78, 0.3) 35%, rgba(70, 7, 78, 0) 50%);
    opacity: 0.8;
}

.bg-text {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-350%, 20%);
    max-width: 80%;
    text-align: center;
    color: #fff;
}

.title {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
}



.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.form-label {
    font-weight: bold;
    font-size: 14px;
    color: #666;
}

.form-control-hk {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    font-size: 14px;
    color: #333;
    background: transparent;
    transition: border-color 0.3s;
}

.form-control-hk::placeholder {
    color: #999;
    opacity: 1;
    /* Pastikan placeholder selalu terlihat */
}

.form-control-hk:focus {
    outline: none;
    border-bottom: 1px solid #007bff;
}

textarea.form-control-hk {
    resize: vertical;
}

.captcha-box {
    display: flex;
    align-items: center;
}

.captcha-box img {
    height: 50px;
    margin-right: 10px;
}

.btn-primary {
    background: linear-gradient(90deg, #007bff, #6c757d);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(90deg, #6c757d, #007bff);
}

.btn-secondary {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: #e0e0e0;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Responsivitas untuk Kontak */
.container-contact {
    padding: 2rem;
    max-width: 751px;
    text-align: start;
}

.title-section {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

.row-contact h2 {
    margin-top: 50px;
}

.g-recaptcha {
    max-width: 300px;
}

.form-col {
    display: flex;
    align-items: center;
    /* Menyelaraskan secara vertikal */
    gap: 20px;
    /* Jarak antara reCAPTCHA dan tombol */
    margin-top: 20px;
    justify-content: center;
}
